<footer class="site-footer small--text-center" role="contentinfo">

<div class="wrapper">

  <div class="grid-uniform">

    {% if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_google_plus_link != blank or settings.social_instagram_link != blank or settings.social_snapchat_link != blank or settings.social_tumblr_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or settings.social_fancy_link != blank or settings.social_rss_link != blank %}
      {% assign show_social_icons = true %}
    {% else %}
      {% assign show_social_icons = false %}
    {% endif %}

    {% case section.blocks.size %}
      {% when 0 %}
      {% when 1 %}
        {% assign column_width = 'text-center' %}
        {%- assign article_width = 480 -%}
      {% when 2 %}
        {% assign column_width = 'post-large--one-half medium--one-half' %}
        {%- assign article_width = 480 -%}
      {% when 3 %}
        {% assign column_width = 'post-large--one-third medium--one-third' %}
        {%- assign article_width = 435 -%}
      {% when 4 %}
        {% assign column_width = 'post-large--one-quarter medium--one-half' %}
        {%- assign article_width = 410 -%}
      {% when 5 %}
        {% assign column_width = 'post-large--one-fifth medium--one-half' %}
        {%- assign article_width = 335 -%}
      {% when 6 %}
        {% assign column_width = 'post-large--one-sixth medium--one-half' %}
        {%- assign article_width = 335 -%}
    {% endcase %}

    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'blog' %}
          <div class="grid__item {{ column_width }} site-footer__links">
            {% assign blog = blogs[block.settings.blog] %}
            <h3 class="h4"><a href="{{ blog.url }}">{{ 'layout.footer.blog_title' | t }}</a></h3>
            {% assign article = blogs[block.settings.blog].articles.first %}
            <p class="h5">{{ article.title | link_to: article.url }}</p>
            {% if article.image %}
              {% capture img_id %}ArticleImage-{{ section.id }}--{{ article.image.id }}{% endcapture %}
              {% capture wrapper_id %}ArticleImageWrapper-{{ section.id }}--{{ article.image.id }}{% endcapture %}
              {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              {%- assign image_alt = article.title | escape -%}
              {% include 'image-style' with image: article.image, width: article_width, height: 480, wrapper_id: wrapper_id, img_id: img_id %}
              <p>
                <div id="{{ wrapper_id }}" class="article__image-wrapper supports-js">
                  <div style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100}}%;">
                    <img id="{{ img_id }}"
                         class="article__image lazyload"
                         src="{{ article.image | img_url: '300x300' }}"
                         data-src="{{ img_url }}"
                         data-widths="[90, 120, 150, 180, 360, 480, 600, 750, 940, 1080, 1296]"
                         data-aspectratio="{{ article.image.aspect_ratio }}"
                         data-sizes="auto"
                         alt="{{ image_alt }}">
                  </div>
                </div>
              </p>

              <noscript>
                <p>{{ article | img_url: 'large' | img_tag: image_alt, 'article__image' | link_to: article.url }}</p>
              </noscript>
            {% endif %}
            {% if article.excerpt.size > 0 %}
            <div class="clearfix">
              {{ article.excerpt }}
            </div>
            {% else %}
              <p>{{ article.content | strip_html | truncatewords: 30 }}</p>
            {% endif %}
          </div>

        {% when 'menu' %}
          <div class="grid__item {{ column_width }}">
            {% unless num_columns == 1 %}
            <h3 class="h4">{{ block.settings.menu_title | escape }}</h3>
            {% endunless %}
            <ul class="site-footer__links{% if num_columns == 1 %} inline-list{% endif %}">
              {% for link in linklists[block.settings.menu].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
          </div>

        {% when 'social' %}
          <div class="grid__item {{ column_width }}">
            <h3 class="h4">{{ 'layout.footer.social_title' | t }}</h3>
              {% comment %}
                Loop through the social network links
              {% endcomment %}
              {% include 'social-links' %}
          </div>

        {% when 'text' %}
          <div class="grid__item {{ column_width }}">
            <h3 class="h4">{{ block.settings.title | escape }}</h3>
            <div class="rte">{{ block.settings.richtext }}</div>
          </div>

        {% when 'newsletter' %}
          <div class="grid__item {{ column_width }}">
            <h3 class="h4">{{ 'layout.footer.newsletter_title' | t }}</h3>
            {% unless block.settings.subtext == blank %}
              {{ block.settings.subtext }}
            {% endunless %}
            {% include 'newsletter-form' %}
          </div>

      {% endcase %}
    {% endfor %}
  </div>

  <hr class="hr--small hr--clear">

  <div class="grid">
    <div class="grid__item text-center">
      <p class="site-footer__links">{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url }}. {{ powered_by_link }}</p>
    </div>
  </div>

  {% if section.settings.show_methods_of_payment %}
    {% unless shop.enabled_payment_types == empty %}
    <div class="grid">
      <div class="grid__item text-center">
        <span class="visually-hidden">{{ 'general.payment.method' | t }}</span>
        <ul class="inline-list payment-icons">
          {% for type in shop.enabled_payment_types %}
            <li>
              {{ type | payment_type_svg_tag: class: 'icon' }}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endunless %}
  {% endif %}
</div>

</footer>



{% schema %}
{
  "name": {
    "da": "Sidefod",
    "de": "Fußzeile",
    "en": "Footer",
    "es": "Pie de página",
    "fi": "Alatunniste",
    "fr": "Pied de page",
    "hi": "फुटर",
    "it": "Footer",
    "ja": "フッター",
    "ko": "바닥글",
    "ms": "Pengaki",
    "nb": "Footer",
    "nl": "Voettekst",
    "pt-BR": "Rodapé",
    "pt-PT": "Rodapé",
    "sv": "Sidfot",
    "th": "ส่วนท้าย",
    "zh-CN": "页脚",
    "zh-TW": "頁尾"
  },
  "max_blocks": 6,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_methods_of_payment",
      "label": {
        "da": "Betalingsikoner",
        "de": "Zahlungssymbole",
        "en": "Payment icons",
        "es": "Iconos de pago",
        "fi": "Maksukuvakkeet",
        "fr": "Icônes de paiement",
        "hi": "भुगतान आइकन",
        "it": "Icone di pagamento",
        "ja": "支払いアイコン",
        "ko": "결제 아이콘",
        "ms": "Ikon pembayaran",
        "nb": "Betalingsikoner",
        "nl": "Betalingspictogrammen",
        "pt-BR": "Ícones de pagamento",
        "pt-PT": "Métodos de Pagamento",
        "sv": "Betalningsikoner",
        "th": "ไอคอนการชำระเงิน",
        "zh-CN": "付款图标",
        "zh-TW": "付款圖示"
      }
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": {
        "da": "Menu",
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fi": "Valikko",
        "fr": "Menu",
        "hi": "मेनू",
        "it": "Menu",
        "ja": "メニュー",
        "ko": "메뉴",
        "ms": "Menu",
        "nb": "Meny",
        "nl": "Menu",
        "pt-BR": "Menu",
        "pt-PT": "Menu",
        "sv": "Meny",
        "th": "เมนู",
        "zh-CN": "菜单",
        "zh-TW": "選單"
      },
      "settings": [
        {
          "type": "text",
          "id": "menu_title",
          "label": {
            "da": "Overskrift",
            "de": "Titel",
            "en": "Heading",
            "es": "Título",
            "fi": "Otsake",
            "fr": "Titre",
            "hi": "शीर्षक",
            "it": "Heading",
            "ja": "見出し",
            "ko": "제목",
            "ms": "Tajuk",
            "nb": "Overskrift",
            "nl": "Kop",
            "pt-BR": "Título",
            "pt-PT": "Título",
            "sv": "Rubrik",
            "th": "ส่วนหัว",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "default": {
            "da": "Links",
            "de": "Links",
            "en": "Links",
            "es": "Enlaces",
            "fi": "Linkit",
            "fr": "Liens",
            "hi": "लिंक",
            "it": "Links",
            "ja": "リンク",
            "ko": "링크",
            "ms": "Pautan",
            "nb": "Koblinger",
            "nl": "Links",
            "pt-BR": "Links",
            "pt-PT": "Ligações",
            "sv": "Länkar",
            "th": "ลิงก์",
            "zh-CN": "链接",
            "zh-TW": "連結"
          }
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": {
            "da": "Menu",
            "de": "Menü",
            "en": "Menu",
            "es": "Menú",
            "fi": "Valikko",
            "fr": "Menu",
            "hi": "मेनू",
            "it": "Menu",
            "ja": "メニュー",
            "ko": "메뉴",
            "ms": "Menu",
            "nb": "Meny",
            "nl": "Menu",
            "pt-BR": "Menu",
            "pt-PT": "Menu",
            "sv": "Meny",
            "th": "เมนู",
            "zh-CN": "菜单",
            "zh-TW": "選單"
          }
        }
      ]
    },
    {
      "type": "text",
      "name": {
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "ms": "Teks",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "da": "Overskrift",
            "de": "Titel",
            "en": "Heading",
            "es": "Título",
            "fi": "Otsake",
            "fr": "Titre",
            "hi": "शीर्षक",
            "it": "Heading",
            "ja": "見出し",
            "ko": "제목",
            "ms": "Tajuk",
            "nb": "Overskrift",
            "nl": "Kop",
            "pt-BR": "Título",
            "pt-PT": "Título",
            "sv": "Rubrik",
            "th": "ส่วนหัว",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "default": {
            "da": "Kontakte os",
            "de": "Kontaktieren Sie uns",
            "en": "Contact us",
            "es": "Ponte en contacto con nosotros",
            "fi": "Ota yhteyttä",
            "fr": "Contactez-nous",
            "hi": "हमसे संपर्क करें",
            "it": "Contattaci",
            "ja": "お問い合わせ",
            "ko": "문의처",
            "ms": "Hubungi kami",
            "nb": "Kontakt oss",
            "nl": "Neem contact met ons op",
            "pt-BR": "Fale conosco",
            "pt-PT": "Contacte-nos",
            "sv": "Kontakta oss",
            "th": "ติดต่อเรา",
            "zh-CN": "联系我们",
            "zh-TW": "聯絡我們"
          }
        },
        {
          "type": "richtext",
          "id": "richtext",
          "label": {
            "da": "Tekst",
            "de": "Text",
            "en": "Text",
            "es": "Texto",
            "fi": "Teksti",
            "fr": "Texte",
            "hi": "टेक्स्ट",
            "it": "Testo",
            "ja": "テキスト",
            "ko": "텍스트",
            "ms": "Teks",
            "nb": "Tekst",
            "nl": "Tekst",
            "pt-BR": "Texto",
            "pt-PT": "Texto",
            "sv": "Text",
            "th": "ข้อความ",
            "zh-CN": "文本",
            "zh-TW": "文字"
          }
        }
      ]
    },
    {
      "type": "blog",
      "name": {
        "da": "Seneste blogopslag",
        "de": "Letzter Blog-Beitrag",
        "en": "Latest blog post",
        "es": "Última entrada en el blog",
        "fi": "Viimeisin blogijulkaisu",
        "fr": "Dernier article de blog",
        "hi": "नवीनतम ब्लॉग पोस्ट",
        "it": "Ultimo articolo del blog",
        "ja": "最新のブログ記事",
        "ko": "최근 블로그 게시물",
        "ms": "Siaran blog terkini",
        "nb": "Siste blogginnlegg",
        "nl": "Laatste blogbericht",
        "pt-BR": "Último post do blog",
        "pt-PT": "Última publicação no blogue",
        "sv": "Senaste blogginlägget",
        "th": "โพสต์บล็อกล่าสุด",
        "zh-CN": "最新博客文章",
        "zh-TW": "最新的部落格貼文"
      },
      "settings": [
        {
          "type": "blog",
          "id": "blog",
          "label": {
            "da": "Blog",
            "de": "Blog",
            "en": "Blog",
            "es": "Blog",
            "fi": "Blogi",
            "fr": "Blog",
            "hi": "ब्लॉग",
            "it": "Blog",
            "ja": "ブログ",
            "ko": "블로그",
            "ms": "Blog",
            "nb": "Blogg",
            "nl": "Blog",
            "pt-BR": "Blog",
            "pt-PT": "Blogue",
            "sv": "Blogg",
            "th": "บล็อก",
            "zh-CN": "博客",
            "zh-TW": "部落格"
          }
        }
      ]
    },
    {
      "type": "social",
      "name": {
        "da": "Ikoner for sociale medier",
        "de": "Social-Media-Symbole",
        "en": "Social icons",
        "es": "Iconos de redes sociales",
        "fi": "Sosiaalisen median kuvakkeet",
        "fr": "Icônes de partage social",
        "hi": "सोशल आइकन",
        "it": "Icone social",
        "ja": "ソーシャルアイコン",
        "ko": "소셜 아이콘",
        "ms": "Ikon sosial",
        "nb": "Ikoner for sosiale medier",
        "nl": "Sociale pictogrammen",
        "pt-BR": "Ícones de redes sociais",
        "pt-PT": "Ícones de redes sociais",
        "sv": "Sociala medier-ikoner",
        "th": "ไอคอนโซเชียล",
        "zh-CN": "社交图标",
        "zh-TW": "社交圖示"
      },
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": {
            "da": "Rediger dine SoMe-indstillinger og -konti i Generelle indstillinger",
            "de": "Einstellungen und Konten für soziale Netzwerke in den allgemeinen Einstellungen bearbeiten",
            "en": "Edit your social settings and accounts in General settings",
            "es": "Edita tus cuentas y configuraciones sociales en la configuración general",
            "fi": "Muokkaa sosiaalisen median tiliasetuksiasi kohdassa Yleiset asetukset",
            "fr": "Modifiez vos paramètres et vos comptes sociaux dans les paramètres généraux",
            "hi": "सामान्य सेटिंग में अपनी सोशल अकाउंट और खातों को संपादित करें",
            "it": "Modifica impostazioni e account social nelle Impostazioni generali",
            "ja": "一般設定でソーシャル設定とアカウント設定を編集する",
            "ko": "일반 설정에서 소셜 설정 및 계정 수정",
            "ms": "Edit tetapan dan akaun sosial anda dalam tetapan Umum",
            "nb": "Rediger sosiale kontoer og innstillinger under Generelle innstillinger",
            "nl": "Bewerk je instellingen en accounts voor social media in Algemene instellingen",
            "pt-BR": "Edite suas contas e configurações de redes sociais nas Configurações gerais.",
            "pt-PT": "Edite as suas contas e definições de redes sociais nas definições gerais",
            "sv": "Redigera dina sociala inställningar och konton i Allmänna inställningar",
            "th": "แก้ไขการตั้งค่าโซเชียลมีเดียและบัญชีผู้ใช้ของคุณที่การตั้งค่าทั่วไป",
            "zh-CN": "在“通用”设置中编辑社媒设置和社媒帐户",
            "zh-TW": "在「一般」設定中編輯社群設定和帳戶"
          }
        }
      ]
    },
    {
      "type": "newsletter",
      "name": {
        "da": "Tilmelding til nyhedsbrev",
        "de": "Newsletter-Anmeldung",
        "en": "Newsletter signup",
        "es": "Suscripción al boletín",
        "fi": "Uutiskirjeen tilaus",
        "fr": "Inscription",
        "hi": "न्यूज़लेटर साइनअप",
        "it": "Iscrizione Newsletter",
        "ja": "メールマガジンの登録",
        "ko": "뉴스레터 신청",
        "ms": "Pendaftaran surat berita",
        "nb": "Registrering for nyhetsbrev",
        "nl": "Nieuwsbriefaanmelding",
        "pt-BR": "Assinatura da newsletter",
        "pt-PT": "Assinatura da newsletter",
        "sv": "Nyhetsbrevsregistrering",
        "th": "การสมัครรับจดหมายข่าว",
        "zh-CN": "新闻通讯注册",
        "zh-TW": "訂閱電子報"
      },
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "subtext",
          "label": {
            "da": "Undertekst",
            "de": "Subtext",
            "en": "Subtext",
            "es": "Subtexto",
            "fi": "Alateksti",
            "fr": "Sous-texte",
            "hi": "सबटेक्स्ट",
            "it": "Sottotesto",
            "ja": "サブテキスト",
            "ko": "하위 텍스트",
            "ms": "Subteks",
            "nb": "Undertekst",
            "nl": "Subtekst",
            "pt-BR": "Subtexto",
            "pt-PT": "Subtexto",
            "sv": "Undertext",
            "th": "ข้อความรอง",
            "zh-CN": "子文本",
            "zh-TW": "子文字"
          },
          "default": {
            "da": "<p>Bliv skrevet op til at modtage de seneste nyheder, tilbud og stilarter</p>",
            "de": "<p>Melden Sie sich für die neuesten Nachrichten, Angebote und Stile an</p>",
            "en": "<p>Sign up for the latest news, offers and styles</p>",
            "es": "<p>Regístrate para recibir las últimas noticias, ofertas y estilos</p>",
            "fi": "<p>Tilaa tuoreimmat uutiset, tarjoukset ja tyylit</p>",
            "fr": "<p>Inscrivez-vous pour connaître les derniers styles, offres et nouvelles</p>",
            "hi": "<p>ताज़ा समाचारों, ऑफ़र और शैलियों के लिए साइन अप करें</p>",
            "it": "<p>Iscriviti per ricevere le ultime novità, offerte e stili</p>",
            "ja": "<p>登録して最新のニュース、オファー、スタイルを受け取る</p>",
            "ko": "<p>최신 뉴스, 서비스 및 스타일을 위해 가입하십시오.</p>",
            "ms": "<p>Mendaftar untuk berita, tawaran dan gaya terkini</p>",
            "nb": "<p>Meld deg på for å motta de siste nyhetene, tilbudene og stilene</p>",
            "nl": "<p>Meld u aan voor het laatste nieuws, aanbiedingen en stijlen</p>",
            "pt-BR": "<p>Inscreva-se para receber os últimos estilos, novidades e ofertas</p>",
            "pt-PT": "<p>Inscreva-se para as notícias, ofertas e estilos mais recentes</p>",
            "sv": "<p>Registrera dig för de senaste nyheterna, erbjudanden och stilar</p>",
            "th": "<p>ลงทะเบียนรับข่าวสาร ข้อเสนอ และรูปแบบใหม่ล่าสุด</p>",
            "zh-CN": "<p>注册以获取最新新闻、优惠和样式</p>",
            "zh-TW": "<p>訂閱最新消息、優惠和樣式</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
